{% load static %}
<!-- start section navbar -->
<nav id="main-nav">
    <div class="row">
        <div class="container">

            <div class="logo">
                <a href="{% url 'home' %}"><img src="{% static 'app/logo1.png' %}" alt="logo"> KNUT festival</a>
            </div>


            <div class="responsive"><i data-icon="m" class="ion-navicon-round"></i></div>

            <ul class="nav-menu list-unstyled">
                <li><a href="{% url 'home' %}" class="smoothScroll">Home</a></li>
                <li><a href="{% url 'boothPromotion' %}" class="smoothScroll">부스 홍보</a></li>
                <li><a href="{% url 'friends' %}" class="smoothScroll">술 친구</a></li>
                <li><a href="{% url 'board' %}" class="smoothScroll">분실물 게시판</a></li>
            </ul>

        </div>
    </div>
</nav>
<!-- End section navbar -->
<br><br><br><br><br><br><br>