{% extends "base.html" %}
{% load static %}

{% block title %} 분실물 게시판 {% endblock %}

{% block javascriptHead %}
    <script src="{% static 'app/js/board_main.js' %}"></script>

{% endblock %}

{% block content %}

    {% include 'boards/board_nav.html' %}

    <div id="board" class="paddsection">

        <div class="container" style="text-align: center">
            <div class="section-title text-center" style="margin-top:5%;">
                <h2 style="font-size:38px;">
                    🤦🏻‍♂️분실물 게시판🤦🏻‍♀️
                </h2>
            </div>
            <div class="container"
                 style="background-color:rgb(255,207,207); border-width: 4px; border-style: solid; border-color: rgb(212, 91, 152); border-radius: 2%;">
                <br>
                <div class="text-right" style="margin-right: 7.5%">
                    <a href="{% url 'new' %}"><input type="button" style="border-width: 2px;"
                                                     class="btn btn-outline-primary center" value="카카오 계정으로 글쓰기"/></a>
                </div>
                <br>

                {% for board in posts %}
                    <div class="card justify-content-center"
                         style="width: 15rem; margin: 10px; display: inline-block; border-width: 2px; border-color:rgb(212, 91, 152);">
                        {% if board.photo %}
                            <img src="{{ board.photo.url }}" class="card-img-top" alt="..." height="300" width="300">
                        {% endif %}
                        <div id="contents" class="card-body" style=" text-align:left;">
                            <h3 class="card-title">{{ board.title }}</h3>
                            <font color="blue" face="기울임" size="3"><i
                                    style="font-family: 'Jua', sans-serif;">"{{ board.get_tag_display }}"</i></font>
                            <hr>

                            {#                    <h6><img src="{{board.profile}}" height="30" width="30" style="border-radius: 50%">&nbsp;{{board.user}}</h6>#}
                            {% if board.profile %}
                                <h5><img src="{{ board.profile.url }}" height="40" width="40"
                                         style="border-radius: 50%">&nbsp;{{ board.user }}</h5>
                            {% else %}
                                <h5><img src="{% static 'app/img/kakao_default_image/profile_default.png' %}"
                                         height="40" width="40"
                                         style="border-radius: 50%">&nbsp;{{ board.user }}</h5>
                            {% endif %}
                            <font size="2" color="gray">{{ board.created_at|date:"y/m/d A h:i" }}</font>
                            <br>
                            <font size="2" color="gray">조회수 : {{ board.page_counter }}</font>

                            <br><br>
                            <div class="text-right">
                                <a href="{% url 'detail' board.id %}">
                                    <button type="button" class="btn btn-outline-success" style="border-width: 2px;">
                                        보러가기
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <!-- pagination section -->
                <br><br>
                <div class="text-center" style="">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            {% if posts.has_previous %}
                                <a class="page-link" href="?page={{ posts.previous_page_number }}"
                                   aria-label="Previous">&laquo;</a>
                            {% endif %}
                        </li>
                        {% for current_num in p_range %}
                            <li class="page-item"><a class="page-link"
                                                     href="?page={{ current_num }}">{{ current_num }}</a></li>
                        {% endfor %}
                        <li class="page-item">
                            {% if posts.has_next %}
                                <a class="page-link" href="?page={{ posts.next_page_number }}"
                                   aria-label="Next">&raquo;</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
                <!-- pagination section -->


            </div>
        </div>
    </div>
    <!-- end section Board -->


{% endblock %}