{% load static %}
<!-- start section navbar -->
<nav id="main-nav">
    <div class="row">
        <div class="container">

            <div class="logo">
                <a href="{% url 'home' %}"><img src="{% static 'app/logo1.png' %}" alt="logo" align="left">&nbsp;KNUT FESTIVAL<br>&nbsp;국원 대동제</a>
            </div>


            <div class="responsive"><i data-icon="m" class="ion-navicon-round"></i></div>

            <ul class="nav-menu list-unstyled">
                <li><a href="{% url 'map_traffic' %}" class="smoothScroll">지도·교통</a></li>
                <li><a href="{% url 'friends' %}" class="smoothScroll">술 친구 게시판</a></li>
                <li><a href="{% url 'board' %}" class="smoothScroll">분실물 게시판</a></li>
            </ul>

        </div>
    </div>
</nav>
<!-- End section navbar -->
