{% extends "base.html" %}
{% load static %}

{% block title %} {{ board.title }} {% endblock %}

{% block javascriptHead %}
    <script src="{% static 'app/js/board_main.js' %}"></script>

{% endblock %}

{% block content %}

    {% include 'boards/board_nav.html' %}
    <br><br><br><br><br>
    <div class="container card w-75 border-secondary mb-3" style="border-width: 2px; border-color: black;">

        {% include 'boards/board_form.html' %}

        <div class="text-center">
            <a href="{% url 'editConfirm' board.id %}"><input type="button" class="btn btn-outline-primary center" value="수정"/></a>&nbsp;&nbsp;
            <a href="{% url 'deleteConfirm' board.id %}"><input type="button" class="btn btn-outline-primary center" value="삭제"/></a><br><br><br>
            <a href="{% url 'board' %}"><input type="button" class="btn btn-outline-primary center" value="게시판으로"/></a>&nbsp;&nbsp;
            <a href="{% url 'home' %}"><input type="button" class="btn btn-outline-primary center" value="홈으로"/></a>

        </div>

        {% include 'boards/liveRe.html' %}
    </div>
{% endblock %}