{% extends "base.html" %}
{% load static %}

{% block title %} 분실물 게시물 수정 {% endblock %}

{% block javascriptHead %}
    <script src="{% static 'app/js/board_main.js' %}"></script>

{% endblock %}

{% block content %}

    {% include 'boards/board_nav.html' %}

    <div class="container">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                {% if field.name == 'photo' %}
                    <p>기존 사진</p>
                    <hr>
                    <div class="text-center">
                    {% if board.photo %}
                        <img style="min-width: 30%; max-width: 90%;" src="{{ board.photo.url }}">
                        <p>사진 삭제</p>
                    {% endif %}
                    </div>
                    <br><br><br>
                {% endif %}
                <p>사진 재 업로드</p>
                <p>{{ field }}</p>
                <br>
            {% endfor %}

            {#            {{ form.media }}#}
            {#            {{ form.as_p }}#}
            <input class="btn btn-dark" type="submit" value="제출하기">
        </form>
        <br><br>
        <div class="text-center">
            <a href="{% url 'board' %}"><input type="button" class="btn btn-outline-primary center" value="게시판으로"/></a>
            <a href="{% url 'home' %}"><input type="button" class="btn btn-outline-primary center" value="홈으로"/></a>
        </div>
    </div>
    <br><br>

{% endblock %}
<br>
