### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media

# Django stuff:
db.sqlite3-journal

# Environments
.vscode
.env
.venv
.myvenv
env/
venv/
myvenv/
ENV/
env.bak/
venv.bak/
myvenv.bak/

/.idea/
# settings.py
# wsgi.py
/static/