{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>

    <!-- meta -->
    <meta charset="utf-8">
    <!-- 서비스 중인 웹이 최신 IE 브라우저로 랜더링 되도록 정의 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="icon" href="{% static 'app/favicon.png' %}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148208975-1"></script>

    <!-- 카카오톡 Javascript -->
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>

    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-148208975-1');
    </script>


    <title>{% block title %}KNUT FESTIVAL{% endblock %}</title>
    <script type="text/javascript"
            src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=b5vxfjjnnc"></script>

    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,700,700i,900,900i"
            rel="stylesheet">


    <!-- Bootstrap CSS File -->
    <link href="{% static 'app/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Libraries CSS Files -->
    <link href="{% static 'app/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'app/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'app/lib/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'app/lib/hover/hover.min.css' %}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="{% static 'app/css/style.css' %}" rel="stylesheet">

    <!-- Responsive css -->
    <link href="{% static 'app/css/responsive.css' %}" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.png">


    <!-- JavaScript Libraries -->
    <script src="{% static 'app/lib/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'app/lib/jquery/jquery-migrate.min.js' %}"></script>
    <script src="{% static 'app/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'app/lib/typed/typed.js' %}"></script>
    <script src="{% static 'app/lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'app/lib/magnific-popup/magnific-popup.min.js' %}"></script>
    <script src="{% static 'app/lib/isotope/isotope.pkgd.min.js' %}"></script>


    <!-- Contact Form JavaScript File -->
    <script src="{% static 'app/contactform/contactform.js' %}"></script>

    <!-- =======================================================
      Theme Name: Folio
      Theme URL: https://bootstrapmade.com/folio-bootstrap-portfolio-template/
      Author: BootstrapMade.com
      Author URL: https://bootstrapmade.com
    ======================================================= -->

    <!-- css link from https://getbootstrap.com/ -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148227649-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-148227649-1');
    </script>

    <!-- 카카오톡 sendLink 구현 -->
    <script type='text/javascript'>
        //사용할 앱의 JavaScript 키를 설정해 주세요.
        Kakao.init('b65e9b71e3f1035a5c467ddfc5500e23');
        //카카오링크 버튼을 생성합니다. 처음 한번만 호출하면 됩니다.
        function sendLink(){
            Kakao.Link.sendCustom({
                templateId: 18265 // 이 템플릿 아이디가 중요합니다
            });
        }
    </script>

    {% block javascriptHead %}{% endblock %}

</head>

<body style="background-color: rgb(255,207,207)">

{% block content %}

{% endblock %}

{% block footer %}
<!-- start section footer -->
<div id="footer" class="text-center">
    <div class="container">
        <div class="socials-media text-center">

            <!-- 아이콘으로 바로 공유하기 기능 구현 by 띵대표-->
            <ul class="list-unstyled">
                <!-- 네이버 블로그 공유하기 -->
                <li><a onclick="javascript:window.open('https://share.naver.com/web/shareView.nhn?url=' +encodeURIComponent(document.URL)+'&title='+encodeURIComponent(document.title), 'naversharedialog', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" alt="Share on Naver" ><img style="border-radius: 50%" src="{% static 'sns_blog.png' %}" width="40" alt="네이버 블로그 공유하기"></a></li>
                <!-- 페이스북 공유하기 -->
                <li><a onclick="javascript:window.open('https://www.facebook.com/sharer/sharer.php?u=' +encodeURIComponent(document.URL)+'&t='+encodeURIComponent(document.title), 'facebooksharedialog', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" alt="Share on Facebook" ><img style="border-radius: 50%" src="{% static 'sns_face.png' %}" width="40" alt="페이스북 공유하기"></a></li>
                <!-- 트위터 공유하기 -->
                <li><a onclick="javascript:window.open('https://twitter.com/intent/tweet?text=[%EA%B3%B5%EC%9C%A0]%20' +encodeURIComponent(document.URL)+'%20-%20'+encodeURIComponent(document.title), 'twittersharedialog', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" alt="Share on Twitter" ><img style="border-radius: 50%" src="{% static 'sns_tw.png' %}" width="40" alt="트위터 공유하기"></a></li>
                <!-- 카카오스토리 공유하기 -->
                <li><a onclick="javascript:window.open('https://story.kakao.com/s/share?url=' +encodeURIComponent(document.URL), 'kakaostorysharedialog', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes, height=400,width=600');return false;" target="_blank" alt="Share on kakaostory"><img style="border-radius: 50%" src="{% static 'sns_kakao.png' %}" width="40" alt="카카오스토리 공유하기"></a></li>
                <!-- 카카오톡 공유하기 -->
                <li><a onclick="javascript:sendLink()" target="_blank" alt="Share on kakaotalk"><img style="border-radius: 50%" src="{% static 'sns_ka.png' %}" width="40" alt="카카오톡 공유하기"></a></li>
            </ul>

        </div>

        <div class="credits">
            <!--
All the links in the footer should remain intact.
You can delete the links only if you purchased the pro version.
Licensing information: https://bootstrapmade.com/license/
Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Folio

-->         
                <img width="330" height="auto" src="{% static 'app/logo2.png' %}">

                <h5 style="color: rgb(212, 91, 152);">박상돈, 조경록, 명평윤, 박주완, 김경민, 김경덕, 정시찬</h5>
                <h6 style="color: gray;">&copy; Copyrights LikelionKNUT. All rights reserved.</h6>
                <font size="1">Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a></font>

        </div>

    </div>
</div>
<!-- End section footer -->
{% endblock %}

</body>

</html>