{% extends "base.html" %}
{% load static %}

{% block title %} 배달 정보 {% endblock %}

{% block javascriptHead %}
<!-- Template Main Javascript File -->
<script src="{% static 'app/js/main.js' %}"></script>
{% endblock %}

{% block content %}

<!-- start section navbar -->
<nav id="main-nav">

    <div class="row">

        <div class="container">

            <div class="logo">
                <a href="{% url 'home' %}"><img src="{% static 'app/logo1.png' %}" alt="logo" align="left">&nbsp;KNUT FESTIVAL<br>&nbsp;국원 대동제</a>
            </div>

            <div class="responsive"><i data-icon="m" class="ion-navicon-round"></i></div>

            <ul class="nav-menu list-unstyled">
                <li><a href="{% url 'day1' %}" class="smoothScroll">Day-1</a></li>
                <li><a href="{% url 'day2' %}" class="smoothScroll">Day-2</a></li>
                <li><a href="{% url 'map_traffic' %}" class="smoothScroll">지도·교통</a></li>
                <li><a href="{% url 'friends' %}" class="smoothScroll">술 친구 게시판</a></li>
                <li><a href="{% url 'board' %}" class="smoothScroll">분실물 게시판</a></li>
                <li><a href="{% url 'food' %}" class="smoothScroll">배달정보</a></li>
            </ul>

        </div>

    </div>

</nav>
<!-- End section navbar -->

<!-- Start section Board -->
<br><br><br><br><br><br>
<div class="section-title text-center">
    <h2>
        <caption>주변 배달 음식점</caption>
    </h2>
</div>
<div class="container paddsection" style="border-width: 4px; border-style: solid; border-color: rgb(212, 91, 152); border-radius: 2%;">

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        못말리는파닭
    </button>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">못말리는파닭</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <img width="300" height="300" src="{% static 'app/헤이즈111.png' %}">
            </div>
          </div>
        </div>
      </div>

</div>

<!-- End section Board -->

{% endblock %}