{% extends "base.html" %}
{% load static %}
{% block javascriptHead %}
<!-- Template Main Javascript File -->
<script src="{% static 'app/js/main.js' %}"></script>

<!-- jQuery Auto rolling -->
<script type="text/javascript">
    $(document).ready(function () {
        var height = $(".notice").height();
        var num = $(".rolling li").length;
        var max = height * num;
        var move = 0;
        function noticeRolling() {
            move += height;
            $(".rolling").animate({ "top": -move }, 600, function () {
                if (move >= max) {
                    $(this).css("top", 0);
                    move = 0;
                };
            });
        };
        noticeRollingOff = setInterval(noticeRolling, 2000);
        $(".rolling").append($(".rolling li").first().clone());
    });
</script>

<!-- CSS Auto rolling -->
<style type="text/css">
    .notice {
        width: 100%;
        height: 50px;
        overflow: hidden;
        background-color: #fff;
    }

    .rolling {
        position: relative;
        width: 100%;
        height: auto;
    }

    .rolling li {
        width: 100%;
        height: 50px;
        line-height: 50px;
    }
</style>
{% endblock %}

{% block content %}

<!-- start section navbar -->
<nav id="main-nav">
    <div class="row">
        <div class="container">

            <div class="logo">
                <a href="{% url 'home' %}" style="color:rgb(95, 82, 88);"><img src="{% static 'app/logo1.png' %}" alt="logo" align="left">&nbsp;KNUT FESTIVAL<br>&nbsp;국원 대동제</a>
            </div>

            <div class="responsive"><i data-icon="m" class="ion-navicon-round"></i></div>

            <ul class="nav-menu list-unstyled">
                <li><a href="{% url 'map_traffic' %}" class="smoothScroll">지도·교통</a></li>
                <li><a href="{% url 'friends' %}" class="smoothScroll">술 친구 게시판</a></li>
                <li><a href="{% url 'board' %}" class="smoothScroll">분실물 게시판</a></li>
                <li><a href="{% url 'aboutus' %}" class="smoothScroll">About us</a></li>

            </ul>

        </div>

    </div>

</nav>
<!-- End section navbar -->
<!-- start section header -->
<div id="header" class="home">
    <div class="container">
        <div class="header-content" style="font-family:'Jua', sans-serif; color:rgb(212, 91, 152);">
            <h1 style="margin-top:-10%; color:rgb(212, 91, 152);">한국교통대학교</h1>
            <h2 ><span class="typed" style="color:rgb(212, 91, 152);"></span></h2>
            <p style="color:rgb(212, 91, 152);">청춘이 빛나는 축제, 함께 만드는 대동제</p>
            <!-- 아이콘으로 바로 공유하기 기능 구현 by 띵대표-->
            <ul class="list-unstyled list-social" style="margin-top: -2%">
                <!-- 네이버 블로그 공유하기 -->
                <li><a onclick="javascript:window.open('https://share.naver.com/web/shareView.nhn?url=' +encodeURIComponent(document.URL)+'&title='+encodeURIComponent(document.title), 'naversharedialog', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" alt="Share on Naver" ><img style="border-radius: 50%" src="{% static 'sns_blog.png' %}" width="40" alt="네이버 블로그 공유하기"></a></li>
                <!-- 페이스북 공유하기 -->
                <li><a onclick="javascript:window.open('https://www.facebook.com/sharer/sharer.php?u=' +encodeURIComponent(document.URL)+'&t='+encodeURIComponent(document.title), 'facebooksharedialog', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" alt="Share on Facebook" ><img style="border-radius: 50%" src="{% static 'sns_face.png' %}" width="40" alt="페이스북 공유하기"></a></li>
                <!-- 트위터 공유하기 -->
                <li><a onclick="javascript:window.open('https://twitter.com/intent/tweet?text=[%EA%B3%B5%EC%9C%A0]%20' +encodeURIComponent(document.URL)+'%20-%20'+encodeURIComponent(document.title), 'twittersharedialog', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" alt="Share on Twitter" ><img style="border-radius: 50%" src="{% static 'sns_tw.png' %}" width="40" alt="트위터 공유하기"></a></li>
                <!-- 카카오스토리 공유하기 -->
                <li><a onclick="javascript:window.open('https://story.kakao.com/s/share?url=' +encodeURIComponent(document.URL), 'kakaostorysharedialog', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes, height=400,width=600');return false;" target="_blank" alt="Share on kakaostory"><img style="border-radius: 50%" src="{% static 'sns_kakao.png' %}" width="40" alt="카카오스토리 공유하기"></a></li>
                <!-- 카카오톡 공유하기 -->
                <li><a onclick="javascript:sendLink()" target="_blank" alt="Share on kakaotalk"><img style="border-radius: 50%" src="{% static 'sns_ka.png' %}" width="40" alt="카카오톡 공유하기"></a></li>
            </ul>

        </div>
    </div>
</div>
<!-- End section header -->

<div class="container">
    <div class="section-title text-center">
        <h2 style="font-size:40px;">🎊라인업🎊</h2>
    </div>
    <div style="margin-left: 12%; margin-right: 12%">
    <div class="container text-center" style="background-color:rgb(255,207,207); border-width: 4px; border-style: solid; border-color: rgb(212, 91, 152); border-radius: 2%;">
        <br>
        <div id="carouselExampleFade" class="carousel slide carousel-fade w-90" data-ride="carousel">
            <div  class="carousel-inner text-center">
                <div class="carousel-item active text-center">
                    <img src="{% static 'app/라인업1.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'app/라인업2.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'app/라인업3.jpg' %}" class="d-block w-100" alt="...">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <br>
    </div>
    </div> 
</div>
<br><br><br><br><br><br>

<div class="container text-center" >
    <div class="section-title text-center">
        <h2 style="font-size:40px;">🎉축제 시간표🎉</h2>
    </div>
    <div class="card" style="width: 100%; border-width: 4px; border-style: solid; border-color: rgb(212, 91, 152); border-radius: 2%; background: rgb(255,207,207);">
        <div class="card-body">
            <div class="container">
                <img width="100%" src="{% static 'app/9.25.png' %}"  class="text-center" alt="...">&nbsp;
                <img width="100%" src="{% static 'app/9.26.png' %}"  class="text-center" alt="...">

            </div> 
        </div>
    </div>
</div><br><br><br><br><br><br>

<!-- start section auto rolling -->
<div class="container">
    <div class="section-title text-center">
        <h2 style="font-size:40px;">🍻술친구 구함🍻</h2>
    </div>
    <div class="container card w-75 mb-3 text-center" style="border:2px dashed; height:20%; border-color: rgb(212, 91, 152);">
        <div class="card-body">
            <div class="notice">
                <ul class="rolling" style="list-style: none">
                    {% for friend in friends_list %}
                    <li>
                        <p style="margin-right:5%"><a
                                href="{% url 'friendsDetail' friend.id %}">{{friend.title}}</a></p>
                                <!-- title 길이 확 줄여야할듯. mobile 인터페이스에서 짤림 -->
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div><br><br><br><br><br>
<!-- end section services -->

<div class="section-title text-center">
    <h2 style="font-size:40px;">🙋🏻‍♂️동아리 부스🙋🏻</h2>
</div>
<div class="container">
    <!-- start section services -->
    <div id="services" style="background-color:rgb(255,207,207); border-width: 4px; border-style: solid; border-color: rgb(212, 91, 152); border-radius: 2%;">
        <div class="container">

            <div class="services-carousel owl-theme" style="margin-top:6%">

                <div class="services-block text-center">

                    <img width="100%" height="auto" src="{% static 'app/열정.png' %}">

                </div>

                <div class="services-block text-center">

                    <img width="100%" height="auto" src="{% static 'app/닭다리.png' %}">


                </div>

                <!-- <div class="services-block">

                    <i class="ion-ios-color-wand-outline"></i>
                    <span>로타랙트</span>
                    <p class="separator">내 운명을 점쳐주는 타로 카드?!</p>

                </div> -->

                <div class="services-block text-center">

                    <img width="100%" height="auto" src="{% static 'app/세바스.png' %}">


                </div>

                <div class="services-block">

                    <img width="100%" height="auto" src="{% static 'app/교통인.png' %}">

                </div>

                <div class="services-block text-center">

                    <img width="100%" height="auto" src="{% static 'app/HOM.png' %}">

                </div>

                <div class="services-block text-center">

                    <img width="100%" height="auto" src="{% static 'app/KTBS.png' %}">
                    

                </div>

            </div>
        </div>
    </div>
</div>
<br><br><br><br><br><br>
            <!-- end section services -->

            <!-- ------------------------------------- -->

            <!-- start section services -->
<div class="section-title text-center">
    <h2 style="font-size:40px;">🎪이벤트 소개🎪</h2>
</div>
<div class="container">
    <div id="services" style="background-color:rgb(255,207,207); border-width: 4px; border-style: solid; border-color: rgb(212, 91, 152); border-radius: 2%;">
        <div class="container">

            <div class="services-carousel owl-theme" style="margin-top:6%">

                <div class="services-block text-center">

                    <img width="100%" src="{% static 'app/게임부스1.png' %}">

                </div>

                <div class="services-block text-center">

                    <img width="100%" src="{% static 'app/체험부스1.png' %}">

                </div>

                <div class="services-block text-center">

                    <img width="100%" src="{% static 'app/낮부스1.png' %}">

                </div>

                <div class="services-block">

                    <img width="100%" src="{% static 'app/국원가요제1.png' %}">

                </div>

                <div class="services-block">

                    <img width="100%" src="{% static 'app/셔틀버스1.png' %}">

                </div>

                <div class="services-block">

                    <img width="100%" src="{% static 'app/빛축제포토존1.png' %}">

                </div>

            </div>
        </div>
    </div>
</div>
            <br><br><br>
                            <!-- ----------------VIDEO section--------------------- -->
                                    <!-- <div class="text-center">
                                        <video style="min-width: 50%; max-width: 80%;" controls>
                                            <source src="{% static 'app/2019국원대동제 홍보영상.mp4' %}" type='video/mp4'>
                                        </video>
                                    </div> -->
                                <br><br><br>



                            <!-- end section auto rolling -->

                            <!-- start section portfolio -->
                            <!-- <div id="portfolio" class="text-center paddsection" style="background-color:#f7f7f7;">

                                <div class="container">
                                    <div class="section-title text-center">
                                        <h2>Lineup</h2>
                                    </div>
                                </div>

                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">

                                            <div class="portfolio-list">

                                                <ul class="nav list-unstyled" id="portfolio-flters">
                                                    <li class="filter filter-active" data-filter=".all">all</li>
                                                    <li class="filter" data-filter=".초대가수">초대 가수</li>
                                                    <li class="filter" data-filter=".스페셜게스트">스페셜 게스트</li>
                                                    <li class="filter" data-filter=".25일">25일 라인업</li>
                                                    <li class="filter" data-filter=".26일">26일 라인업</li>
                                                </ul>

                                            </div>

                                            <div class="portfolio-container">

                                                <div class="col-lg-4 col-md-6 portfolio-thumbnail all 25일">
                                                    <a class="popup-img" href="{% static 'app/유병재11.jpg' %}">
                                                        <img src="{% static 'app/유병재11.jpg' %}" alt="img"><br>유병재
                                                    </a>
                                                </div>

                                                <div class="col-lg-4 col-md-6 portfolio-thumbnail all 초대가수 25일">
                                                    <a class="popup-img" href="{% static 'app/다듀22.jpg' %}">
                                                        <img src="{% static 'app/다듀22.jpg' %}" alt="img"><br>다이나믹듀오
                                                    </a>
                                                </div>

                                                <div class="col-lg-4 col-md-6 portfolio-thumbnail all 초대가수 26일">
                                                    <a class="popup-img" href="{% static 'app/닐로11.jpg' %}">
                                                        <img src="{% static 'app/닐로11.jpg' %}" alt="img"><br>닐로
                                                    </a>
                                                </div>

                                                <div class="col-lg-4 col-md-6 portfolio-thumbnail all 초대가수 26일">
                                                    <a class="popup-img" href="{% static 'app/헤이즈11.jpg' %}">
                                                        <img src="{% static 'app/헤이즈11.jpg' %}" alt="img"><br>Heize
                                                    </a>
                                                </div>

                                                <div class="col-lg-4 col-md-6 portfolio-thumbnail all 스페셜게스트">
                                                    <a class="popup-img" href="{% static 'app/도아11.jpg' %}">
                                                        <img src="{% static 'app/도아11.jpg' %}" alt="img"><br>BJ도아
                                                    </a>
                                                </div>

                                                <div class="col-lg-4 col-md-6 portfolio-thumbnail all 스페셜게스트">
                                                    <a class="popup-img" href="{% static 'app/김길중22.jpg' %}">
                                                        <img src="{% static 'app/김길중22.jpg' %}" alt="img"><br>김길중
                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div> -->
                            <!-- End section portfolio -->


                            
                                        
                                    </div>
                                    <!-- End section journal -->

                            </div>
                            {% endblock %}