
{% extends "base.html" %}
{% load static %}

{% block title %} 게시물 작성 {% endblock %}

{% block javascriptHead %}
    <script src="{% static 'app/js/board_main.js' %}"></script>

{% endblock %}

{% block content %}

    <!-- start section navbar -->
    <nav id="main-nav">
        <div class="row">
            <div class="container">

                <div class="logo">
                    <a href="{% url 'home' %}"><img src="{% static 'app/logo1.png' %}" alt="logo"> KNUT festival</a>
                </div>


                <div class="responsive"><i data-icon="m" class="ion-navicon-round"></i></div>

                <ul class="nav-menu list-unstyled">
                    <li><a href="{% url 'home' %}" class="smoothScroll">Home</a></li>
                    <li><a href="{% url 'home' %}#about" class="smoothScroll">About</a></li>
                    <li><a href="{% url 'home' %}#portfolio" class="smoothScroll">Photo Zone</a></li>
                    <li><a href="{% url 'home' %}#journal" class="smoothScroll">대중교통 시간표</a></li>
                    <li><a href="#board" class="smoothScroll">분실물 게시판</a></li>
                </ul>

            </div>
        </div>
    </nav>
    <!-- End section navbar -->
    <br><br><br><br><br>
    <div class="container">
        <form action="{% url 'create' %}">
        {% csrf_token %}
          <h4>제목: </h4>
          <input type="text" name="title">
          <br>
          <h4>글쓴이: </h4>
          <input type="text" name="user">
          <br>
          <h4>본문: </h4>
          <textarea cols=40 rows=10 name="body"></textarea>
          <br>
          <h4>사진 파일 : </h4>
          <input type="file" name="photo">
          <br>
          <input class="btn btn-dark" type="submit" value="제출하기">
      </form>
    </div>

{% endblock %}
<br>
